@font-face {
  font-family: "Arial";
  src: url(https://cdn.jsdelivr.net/gh/ashley-tcmarketing/sons-fonts/Aeroport-bold.eot);
  src: url(https://cdn.jsdelivr.net/gh/ashley-tcmarketing/sons-fonts/Aeroport-bold.eot?#iefix) format("embedded-opentype"), 
       url(https://cdn.jsdelivr.net/gh/ashley-tcmarketing/sons-fonts/Aeroport-bold.woff2) format("woff2"), 
       url(https://cdn.jsdelivr.net/gh/ashley-tcmarketing/sons-fonts/Aeroport-bold.woff) format("woff"), 
       url(https://cdn.jsdelivr.net/gh/ashley-tcmarketing/sons-fonts/Aeroport-bold.ttf) format("truetype"), 
       url(https://cdn.jsdelivr.net/gh/ashley-tcmarketing/sons-fonts/Aeroport-bold.svg#Aeroport-Bold) format("svg");
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: "Arial";
  src: url(https://cdn.jsdelivr.net/gh/ashley-tcmarketing/sons-fonts/Aeroport-light.eot);
  src: url(https://cdn.jsdelivr.net/gh/ashley-tcmarketing/sons-fonts/Aeroport-light.eot?#iefix) format("embedded-opentype"), 
       url(https://cdn.jsdelivr.net/gh/ashley-tcmarketing/sons-fonts/Aeroport-light.woff2) format("woff2"), 
       url(https://cdn.jsdelivr.net/gh/ashley-tcmarketing/sons-fonts/Aeroport-light.woff) format("woff"), 
       url(https://cdn.jsdelivr.net/gh/ashley-tcmarketing/sons-fonts/Aeroport-light.ttf) format("truetype"), 
       url(https://cdn.jsdelivr.net/gh/ashley-tcmarketing/sons-fonts/Aeroport-light.svg#Aeroport-Light) format("svg");
  font-style: normal;
  font-weight: 100;
  font-display: fallback;
}

@font-face {
  font-family: "Arial";
  src: url(https://cdn.jsdelivr.net/gh/ashley-tcmarketing/sons-fonts/Aeroport-light-italic.eot) format("embedded-opentype"), 
       url(https://cdn.jsdelivr.net/gh/ashley-tcmarketing/sons-fonts/Aeroport-light-italic.woff2) format("woff2"), 
       url(https://cdn.jsdelivr.net/gh/ashley-tcmarketing/sons-fonts/Aeroport-light-italic.woff) format("woff"), 
       url(https://cdn.jsdelivr.net/gh/ashley-tcmarketing/sons-fonts/Aeroport-light-italic.ttf) format("truetype"), 
       url(https://cdn.jsdelivr.net/gh/ashley-tcmarketing/sons-fonts/Aeroport-light-italic.svg#Aeroport-LightItalic) format("svg");
  font-style: italic;
  font-weight: 100;
  font-display: fallback;
}
